USE [DRSDATA_2015]
GO
/****** Object:  Table [dbo].[CONFIGURE]    Script Date: 2015/3/15 13:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONFIGURE](
	[CONFIGUREPRODUCTION] [varchar](50) NULL,
	[CONFIGUREPARAMETER] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
