USE [DRSDATA_2015]
GO
/****** Object:  Table [dbo].[DAILYSALES_2015]    Script Date: 2015/3/15 13:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DAILYSALES_2015](
	[STRTILLCODE] [varchar](10) NOT NULL,
	[INTSALEID] [int] NOT NULL,
	[STRSALETYPE] [varchar](1) NULL,
	[STRTRADECODE] [varchar](10) NOT NULL,
	[INTOPERATORID] [int] NOT NULL,
	[DTMSALEDATETIME] [datetime] NOT NULL,
	[INTHOUR] [int] NOT NULL,
	[INTMINUTE] [int] NOT NULL,
	[LINTITEMNUMBER] [int] NOT NULL,
	[CTRCODE] [bigint] NOT NULL,
	[CURSALES] [numeric](19, 4) NOT NULL,
	[DBLQTYSOLD] [numeric](19, 4) NOT NULL,
	[CURCOGS] [numeric](19, 4) NOT NULL,
	[LINTMEMBERID] [int] NOT NULL,
	[INTTENDERCODE] [int] NOT NULL,
	[CURTENDERAMT] [numeric](19, 4) NOT NULL,
	[LINTCUSTOMERCOUNT] [int] NULL,
	[DTMTRADEDATE] [datetime] NOT NULL,
	[STRREASON] [varchar](10) NULL,
	[CURINVOICECOGS] [numeric](19, 4) NOT NULL,
	[DTMPROCESSED] [datetime] NULL,
	[STRREFERENCE] [varchar](20) NULL,
	[STRPRICELEVEL] [varchar](1) NULL,
	[YSNSTATSPROCESSED] [varchar](1) NOT NULL,
	[CURNORMALSELL] [numeric](19, 4) NULL,
	[CURDISCOUNT] [numeric](19, 4) NULL,
	[INTDISCOUNTCODE] [int] NULL,
	[INTOFFERCODE] [int] NULL,
	[LINTPARENTITEM] [int] NULL,
	[DBLDISCOUNTPER] [numeric](19, 4) NULL,
	[CURCOMMLEVEL] [numeric](19, 4) NULL,
	[STRTYPE] [varchar](10) NULL,
	[LINTDELIVERYADDRESS] [int] NULL,
	[DTMWARRANTY] [datetime] NULL,
	[LINTCONTACTNUM] [int] NULL,
	[LINTGIFTNUM] [varchar](10) NULL,
	[INTORDERCODE] [bigint] NULL,
	[CURSALESTAX] [numeric](19, 4) NULL,
	[STRCOMMENT] [varchar](100) NULL,
	[STRPONUMBER] [varchar](50) NULL,
	[LINTFIFOCODE] [int] NULL,
	[CUREXPECTEDREBATE] [numeric](19, 4) NULL,
	[STRLEDGERCODE] [varchar](10) NULL,
	[STRTAXCODE1] [varchar](10) NULL,
	[STRTAXCODE2] [varchar](10) NULL,
	[STRTAXCODE3] [varchar](10) NULL,
	[CURTAXAMT1] [numeric](19, 4) NULL,
	[CURTAXAMT2] [numeric](19, 4) NULL,
	[CURTAXAMT3] [numeric](19, 4) NULL,
	[CURSELLPRICE1] [numeric](19, 4) NULL,
	[YSNCLAIMSUPPLIER] [varchar](1) NULL,
	[YSNCLAIMMANUFACTURER] [varchar](1) NULL,
	[YSNCLAIMHEADOFFICE] [varchar](1) NULL,
	[LINTPOINTS] [numeric](19, 4) NULL,
	[DTMTAXINVOICE] [datetime] NULL,
	[STRCURRENCYCODE] [varchar](5) NULL,
	[DBLEXCHANGERATE] [numeric](19, 4) NULL,
	[CURFOREIGNAMT] [numeric](19, 4) NULL,
	[CURSALESDISCOUNT] [numeric](19, 4) NULL,
	[INTSALESDISCOUNTCODE] [int] NULL,
	[CUROFFERDISCOUNT] [numeric](19, 4) NULL,
	[INTTENDERDISCOUNTCODE] [int] NULL,
	[CURTENDERDISCOUNT] [numeric](19, 4) NULL,
	[INTTRANSNUM] [bigint] NULL,
	[INTORIGSALEID] [int] NULL,
	[INTORIGTAXID] [int] NULL,
	[DBLAPN] [numeric](19, 4) NULL,
	[STRORDERCODE] [varchar](20) NULL,
	[STRCUSTTAXNUM] [varchar](20) NULL,
	[STRPREPRINTSALEID] [varchar](20) NULL,
	[INTRIPID] [int] NULL,
	[STRAUTHORISATION] [varchar](30) NULL,
	[STRCARDNUM] [varchar](38) NULL,
	[STRCREDITCARDNUM] [varchar](30) NULL,
	[STRAPN] [varchar](20) NULL,
	[CURORIGSELL] [numeric](19, 4) NULL,
	[STRROUTECODE] [varchar](10) NULL,
	[INTDELIVERYSOURCE] [int] NULL,
	[STRDELIVERYCODE] [varchar](10) NULL,
	[INTSHIFTCODE] [int] NULL,
	[INTSALESMETHOD] [int] NULL,
	[INTITEMDISCREASON] [int] NULL,
	[INTSALEDISCREASON] [int] NULL,
	[INTCHGPRICEREASON] [int] NULL,
	[STRGIFTNUMTO] [varchar](10) NULL,
	[CURGOVERNMENTREBATE] [numeric](19, 4) NULL,
	[INTAUTHORISEUSER] [int] NULL,
 CONSTRAINT [IDXDAILYSALES_PRIMARYKEY] PRIMARY KEY CLUSTERED 
(
	[CTRCODE] ASC,
	[STRTRADECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
