USE [DRSDATA_2015]
GO
/****** Object:  Table [dbo].[FPRESULT]    Script Date: 2015/3/15 13:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPRESULT](
	[FPCOUNT] [int] NULL,
	[FPNAME] [nvarchar](50) NULL,
	[FPNAMECOUNT] [int] NULL
) ON [PRIMARY]

GO
